.navbar-collapse {
  background-color: #ffffff;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  overflow: hidden; /* Hide the content initially */
  max-height: 100vh; /* Set max-height to 0 to hide it */
  transition: max-height 0.3s ease; /* Add a transition to make it smooth */
}

.navbar-toggler,
.navbar-brand {
  z-index: 1;
}

.navbar-brand {
  font-weight: 900;
  font-size: 50px !important;
}

.navbar-collapse .nav-item {
  font-size: 25px !important;
  line-height: 50px;
  font-weight: 600;
}

.navbar-collapse .navbar-nav :not(:last-child) {
  border-bottom: 3px solid gray;
}

.navbar {
  background: #ffffff77;
}

.social {
  display: flex;
  font-size: 50px;
  flex-wrap: nowrap;
  align-content: space-between;
  gap: 25px;
  padding-bottom: 50px;
  border: none !important;
}

.social i {
  border: none !important;
}

.navbar-collapse.show {
  max-height: 100vh; /* Set max-height to make it cover the full screen */
  transition: max-height 0.3s ease; /* Add a transition to make it smooth */
}
