
<h1>Form</h1>
<div class="f1">
    <form action="">
        <label for=""> Name:</label>
           
            <input type="text" name="Name" #Name>
        
        <label for=""> Age:</label>
        
            <input type="text" name="Age" #Age>
        <br>
        <button (click)="createFun(Name.value,Age.value)">Create</button>
        <button  (click)="retrieveData()">retrive</button>

    </form>
<!-- 
    <ul >
        <table>
            <tr>
                <th>name</th>
                <th>age</th>
            </tr>
            <tr *ngFor="let i of object">

                <td>{{i.name}}</td>
                <td>{{i.age}}</td>
            </tr>
            <tr *ngFor="let e of dataObjects">
                <td>{{e.name}}</td>
                <td>{{e.age}}</td>

            </tr>
        </table>
        
    </ul> -->


    <table>

        <tr>
            <table>
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Phone Number</th>
                  <th>Department</th>
                  <th>Gender</th>
                  <th>Terms and Conditions</th>
                </tr>
               
              </table>
              

        </tr>
        <tr  *ngFor="let s of studentX">
               <th>{{s.firstname}}</th>
                <td>{{s.firstname}}</td>
                <td>{{s.lastname}}</td>
                <td>{{s.phoneNumber}}</td>
                <td>{{s.dept}}</td>
                <td>{{s.gender}}</td>
                <td>{{s.termsAndCondition}}</td>
            
            

        </tr>
        
    </table>
    

</div>