.input{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
     
}
.table{
   padding-top: 5%;
   padding-left: 20%;
   padding-right: 20%;

}
.buttonUpdate{
    margin-right: 20px;
}
